<h1>Create a Task</h1>
<%# <form method="POST" action="/tasks">
<input type="text" name="task[title]" />
<input type="text" name="task[description]" />
<input type="submit"  />
</form> %>

<%= form_for( [@project, @task]) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <%= f.submit  %>
<% end %>