<h1>Create a new Project</h1>

<%= form_for @project do |f| %>
    <%= f.text_field :name, class: 'form-control' %>
    <%= f.text_field :description %>
    <%= f.datetime_select :due_date %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :public_notice %>
    <%= f.check_box :public_notice, {}, 1, 0 %>
    <div>
        <h1>Create Initial Tasks</h1>
        <%= f.fields_for :tasks do |task_form|%>
            <%= task_form.label :title %>
            <%= task_form.text_field :title %>
            <%= task_form.label :description %>
            <%= task_form.text_field :description %>
        <% end %>
    </div>
    <%= f.submit %>
<% end %>
