<!DOCTYPE html>
<html>
  <head>
    <title>ProjectManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
    <nav>
    <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Projects", projects_path %></li>
    </ul>
    </nav>
    <%= yield %>
  </body>
</html>
